html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 100%;
  background-color: #E5F2F4;
  height: 100%;
}

section{
  position: fixed;
  pointer-events: none;
  width: 100%;
  height: 100vh;
  /* background: #E5F2F4; */
  overflow: hidden;
  bottom: 0;
}

input[type="file"] {
  display: none;
}
input {
  opacity: 0;
  position: absolute;
}

p {
  text-wrap: wrap;
}