.main {
  font-family: aye-matey;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.header {
  flex-grow: 1;
  font-size: 3rem;
  text-align: center;
  padding: 4rem;
  font-family: treasure-map;
  background-color: #7fb9c4;
  border: 2px solid #333c65;
}

.button {
  background-color: #ceebef;
  border: 2px solid #333c65;
  border-radius: 1rem;
  inline-size: 12rem;
  block-size: 4rem;
  font-size: 1.25rem;
  align-self: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: aye-matey;
  font-weight: bold;
}
.button:hover {background-color: #c9e3d6}


@font-face {
  font-family: treasure-map;
  src: url(../fonts/Treasuremap.ttf) format("opentype");
}
.treasure-map {
  font-family: treasure-map;
}

@font-face {
  font-family: aye-matey;
  src: url(../fonts/Ayematey.ttf) format("opentype");
}
.aye-matey {
  font-family: aye-matey;
}

/* https://stackoverflow.com/questions/46616711/css-keep-footer-at-bottom-with-expanding-content */
