/* Flexbox container for card  */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 50px;
  border-radius: 5px;
}

.header {
  flex-grow: 1;
  font-size: 3rem;
  text-align: center;
  padding: 3rem;
  font-family: treasure-map;
  background-color: #EAD3AE;
  border: 2px solid #333c65;
}

.header2 {
  justify-content: center;
  font-size: 1.5rem;
  text-align: center;
  font-family: aye-matey;
}

.image {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  max-width: 70%;
  max-height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.textOutput {
  flex-grow: 1;
  display: flex;
  text-align: center;
  font-size: 1.5rem;
  font-family: aye-matey;
  margin-left: 20%;
  margin-right: 20%;
}
/*
.buttonSelectFile{ 
  background-color: #E5F2F4;
  border: 2px solid #333c65;
  border-radius: 1rem;
  inline-size: 12rem;
  block-size: 4rem;
  font-size: 1.25rem;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: aye-matey;
  font-weight: bold;
}
*/
.button {
  background-color: #509fb5;
  border: 2px solid #333c65;
  border-radius: 1rem;
  inline-size: 12rem;
  block-size: 4rem;
  font-size: 1.25rem;
  align-self: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: aye-matey;
  font-weight: bold;
}
.button:hover {background-color: #c9e3d6}


/* Card Image  */
.card_img {
  flex-grow: 1;
  width: 100%;
  max-width: 150px;
  height: auto;
}

/* Card Item Name  */
.card_title {
  font-size: 1.25rem;
  text-align: center;
}

/* Card Item Price  */
.card_price {
  margin-top: 0.5rem;
  font-size: 1.125rem;
}

/* Card Item Button  */
.card_button {
  padding: 0.75rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 10px;
  color: black;
  background-color: #fcce9f;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
}

.card_button :hover {
  cursor: pointer;
}
